html, body {
  width: 100%;
  height: 100%;

}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


body {
  overflow: hidden;
    display: flex;
    flex-direction: column;
}


@font-face {
  font-family: 'digital-7';
src: url('digital-7/digital-7 (mono).ttf');

}


.clock{
  font-family: 'digital-7';
  background-color:#333;
  font-size:60px;

  text-shadow:0px 0px 1px #fff;
  color: #F7F122;
  /*color:#fff;*/

}

.journey{
  font-family: 'digital-7';
  font-size:30px;
}
a {
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}

a:hover {
  text-decoration: underline;
}

.md-sidenav-left p {
  font-size: 13px;
}

#sidebar{
    display: none;
}
.toggle-pub-button {
  margin: -30px 8px 10px;
  background-color: rgb(0,152,212);
  fill: rgb(255, 255, 255);
}

.angular-google-map-container { height: 300px; }

.autocomplete {
  width: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: 60px;
  margin-top: 20px;
  left: auto;
  right: 20%;
}

.progress-wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: 32px;
  margin-top: 10px;
  left: auto;
  right: 5%;
}

.progress {
    position: absolute;
    font-weight: 100;
    line-height: 1;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    bottom: auto;
    left: 50%;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Hammersmith One', sans-serif;
    font-size: 22px;
    text-align: center;
}


h2.name {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
text {
  font-family: 'Hammersmith One', sans-serif;
  fill: #0019A8;
  font-size: 12px;
  cursor: pointer;
  font-weight: normal;
}
.side-nav-content {
  overflow-x: hidden;
  margin: -20px 0px 0px 0px;
}
.side-nav-info-icon {
  margin: 0px 24px 0px 0px !important;
  color: rgb(49, 133, 255);
}
.side-nav-info-list md-list-item {
  padding: 0px 24px 6px 0px;
  min-height: 0px;
}
text.highlighted {
  text-decoration: line-through;
}
.keyLineItem
{
	float: left;
	margin: 4px 5px;
	width: 18px;
	height: 4px;
	border-radius: 2px;
	cursor: pointer;
}
.keyItemText
{
	float: left; font-size: 15px;
}

.line {
  opacity: 1.0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  stroke-width: 5;
}
.line.translucent {
  opacity: 0.3;
}

.station {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.station.translucent {
  opacity: 0.3;
}
.interchange {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.interchange.translucent {
  opacity: 0.3;
}

.translucent {
  opacity: 0.3;
}
.notTranslucent{
  opacity: 1;
}
.line.notTranslucent{

  opacity: 1;
}
.label {
  transition-property: opacity;
  transition-duration: .5s;
  transform-origin: 50% 50%;
}

.label.translucent {
  opacity: 0.1;
}

.label.selected {
  transform: scale(1.2);
}

.linechart {
  display: none;
  justify-content: center;
  height: 60vh;
  border: 1px solid;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2;
  background: white;
  left: 10%;
  top: 10%;
}

.chartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.station {
  font-size: 20px;
  margin-bottom: 5px;
}

.entry {
  margin-right: 10px;
}



.legends {
  display: flex;
  width: 300px;
  justify-content: space-around;
  cursor: pointer;

}

.legends > div {
  padding: 5px;
  font-size: 20px;
  color: white;
}

.close {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.closebarChart, .closebarDiifChart {
  align-self: flex-start;
  background: white !important;
  margin-left: -50px;
  font-size: 20px;
  cursor: pointer;
}

.modal {
  background: grey;
  fill: grey;
}

.hideMe {
  display: none;
}

.notVisible {
  opacity: 0;

}

.notVisibleLegend {
  opacity: 0.5;
}

.barChart {

}

.notSelected{
  fill: #ffffff;
}
.stationSelect{

}

.stationSelected{
  fill: steelblue;
}

.stationSelect:hover{
  fill: orange;
}

.mainBarWrapper {
  display: none;
}

.barChartWrapper, .barDiffChartWrapper {
  display: none;
  justify-content: center;
}
.river{
  stroke-width: 10;
}

.row {
  background: white !important;
}

.innerBarChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.showBarDiff {
  cursor: pointer;
}

.barChartDropDown {
  width: 200px;
  display: none;
  flex-direction: column;
  justify-content: center;
}


.showBarDiff {
  display: none;
}

.selectItems {
  display: flex;
}

.dropleft, .dropRight {
  padding: 5px;
}



.showBarDiff {
  display: block;
  background: grey;
  color: white;
  height: 30px;
  font-size: 21px;
}

.legendWrapper {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 15px;
}

.legendTitle {
  font-size: 20px;
  text-align: center;
}

.rowLegend {
  height: 20px;
  font-size: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legendName {
  width: 150px;
  padding: 10px;
}

.rowLegend:nth-child(odd) {
  background-color: #eee;
}

.rowLegend:nth-child(even) {
  background-color: #fff;
}

.legendColor {
  height: 5px;
  width: 50px;
}

.lineMode {
  display: none;
  /*height: 30px;*/
  /*//font-size: 20px;*/
}
.showMe {
  display: flex;
}
